.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #98b67a;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #98b67a;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  .tabset {
    max-width: 65em;
  }

  .carousel-caption {
    bottom: 300px !important;
  }

@media (max-width: 575.98px) { 
    .bg-image {
        position: relative;
        height: 100%;
      }
      .carousel-caption {
        bottom: -30px !important;
      }
      .app-download-btn .download-text h5 {
        font-size: 11px;
        color: inherit;
      }
      .carousel-caption h3{
          font-size: 14px;
      }
      .carousel-caption p{
        font-size: 10px;
    }
 }

 @media (max-width: 767.98px) { 
    .bg-image {
        position: relative;
        height: 100%;
      }
      .carousel-caption {
        bottom: -30px !important;
      }
      .app-download-btn .download-text h5 {
        font-size: 11px;
        color: inherit;
      }
      .carousel-caption h3{
          font-size: 14px;
      }
      .carousel-caption p{
        font-size: 10px;
    }
 }

 .border-primary-sm {
   border-radius: 6px;
   border: 1px solid #98b67a;
   /* padding-top: 40px */
 }

 .main-1 video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-header-1 {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-1 {
  width: 80vw;
  left: 10%;
  height: 100%;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}
.main-1 h1 {
  font-family: 'Syncopate', sans-serif;
  color: #4a3a27;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}

.main-1 span {
  display: block;
  font-size: 10vw;
  letter-spacing: -1.3vw;
}
